body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
nav {
  background-color: #444;
  color: #fff;
  text-align: center;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav li {
  display: inline;
  margin-right: 20px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

#videoContainer {
  display: none;
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Center both horizontally and vertically */
  width: 80%; /* Adjust the width as needed */
  max-width: 800px; /* Set a maximum width */
  height: auto; /* Maintain aspect ratio */
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  padding: 20px; /* Add padding for better aesthetics */
  box-sizing: border-box;
}

/* Style the close button if needed */
#videoContainer .close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: white;
  font-size: 24px;
}
